option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/"
    APP_ID: "35rQ21nN4QG8O38lz2H6OSexRC54rUQm"
    MASTER_KEY: "DHK96A82Li203306k67Ux98chBDfUH39"
    DATABASE_URI: "mongodb://juliengatt:Gattegno05@ds015774.mlab.com:15774/heroku_9t94k0gw"
    NODE_ENV: "production"
    SERVER_URL: "parse-server-ayoa.herokuapp.com/"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
